nav .nav-link {
  font-family: var(--font-nav);
  font-weight: 500;
}

nav .nav-link:hover {
  border-bottom: 3px solid var(--color-primary);
}

nav a.active {
  border-bottom: 3px solid var(--color-secondary);
}

.navbar {
  text-decoration: none;
  background-color: rgb(247, 247, 247);
  z-index: 10;
}

nav .navbar-nav {
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
}

header .navBtn {
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.7rem;
  color: var(--color-quartenary);
  background-color: rgba(177, 186, 194, 0.4);
  border-radius: 9px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0.5rem;
  right: -0.2rem;
  z-index: 11;
}

@media only screen and (max-width: 768px) {
  header .navBtn {
    visibility: visible;
    opacity: 1;
  }

  header .navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(100vh);
    transition: transform 0.9s ease-in-out;
    z-index: 10;
  }

  header .responsive_nav {
    transform: translateY(0);
    transition: transform 1.3s ease-in-out;
  }

  .navbar {
    background-color: #666666;
  }

  nav .navCloseBtn {
    position: absolute;
    background-color: transparent;
    top: 1rem;
    right: 2rem;
    z-index: 11;
  }

  nav .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8rem;
  }

  nav .navbar-nav .nav-item {
    color: var(--color-quartenary);
    font-size: 2.8rem;
    padding-left: 2rem;
  }
}
