@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  --font-nav: "Playfair Display", sans-serif;
  --font-title: "Playfair Display", serif;
  --font-text: "Roboto", sans-serif;
  --color-primary: #677db7;
  --color-secondary: #454b66;
  --color-tertiary: #463a35;
  --color-quartenary: #1f170a;
  --color-quinary: #ee96d8;
  /*pink #EE96D8 */
  /*light blue #677DB7 */
  /*dark blue # 454B66 */
  /*brown #463A35 */
  /* dark gray #1F170A */
}

body {
  font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: 700;
}