@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  --font-nav: "Playfair Display", sans-serif;
  --font-title: "Playfair Display", serif;
  --font-text: "Roboto", sans-serif;
}

body {
  font-family: var(--font-text);
}

.navbar {
  text-decoration: none;
}

.navbar li {
  list-style: none;
}

nav .nav-link {
  font-family: var(--font-nav);
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: 700;
}
